@font-face {
    font-family: synthese;
    src: url('./synthese-regular.woff2');
  }

  #okta-sign-in {
    font-family: synthese!important;
}

.authenticator-list > list-content {
    display: none;
}
